<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
</head>

<body>
    <h1>PM2.5全省數據圖表</h1>
    <div id="main" style="width: 600px;height: 400px;"></div>
    <script>
        //取得主繪圖區域
        const myChart = echarts.init(document.getElementById('main'));

        //取得後湍資訊
        drawPM25();
        function drawPM25() {
            $.ajax(
                {
                    url: "/pm25-data",
                    type: "GET",
                    dataType: "json",
                    success: (result) => {
                        //console.log(result);
                        //繪製對應區塊並給予必要參數
                        drawChart(myChart, result["datetime"], "PM2.5", result["site"], result["pm25"])
                    }
                }
            )
        }

        function drawChart(chart, title, legend, xData, yData) {
            let option = {
                title: {
                    text: title
                },
                tooltip: {},
                legend: {
                    data: ['pm2.5']
                },
                xAxis: {
                    data:
                        xData
                },
                yAxis: {},
                series: [
                    {
                        name: legend,
                        type: 'bar',
                        data: yData
                    }
                ]
            };

            chart.setOption(option);
        }

        // const titleEl = document.querySelector("h1");
        // titleEl.innerText = "Test!";
        // titleEl.innerHTML = "<u>Test!</u>";

        // $("h1").text("123");
        // $("h1").html("<u>123</u>");
        // $("h1").css("color", "red");
        // $("h1").click(() => {
        //     alert("test!");
        // });
    </script>
</body>

</html>